<ion-app>
  <ion-split-pane contentId="content">
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ 'MENU.MENU' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list *ngIf="menuYes">
          <ion-list-header>
            {{ 'MENU.NAVIGATE' | translate }}
          </ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url" replaceUrl="true" [ngClass]="{'disabled': p.lock}">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}} <ion-icon name="lock" *ngIf="p.lock"></ion-icon>
              </ion-label>
              <ion-badge slot="end" color="danger" *ngIf="p.nickname === 'attendance'" style="padding: 2px 4px; margin: 0px;">NEW</ion-badge>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list>
          <ion-list-header *ngIf="menuYes">
            {{ 'MENU.ACCOUNT' | translate }}
          </ion-list-header>

          <ion-menu-toggle auto-hide="false" *ngIf="menuYes">
            <ion-item routerLink="/account">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>
                {{ 'MENU.PROFILE' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="menuYes">
            <ion-item button (click)="logout()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                {{ 'MENU.LOGOUT' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false" *ngIf="menuYes">
            <ion-item routerLink="/language">
              <ion-icon slot="start" name="text"></ion-icon>
              <ion-label>
                {{ 'MENU.LANGUAGE' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item href="mailto:feedback@buildcenter.com">
              <ion-icon slot="start" name="help-circle"></ion-icon>
              <ion-label>
                {{ 'MENU.FEEDBACK' | translate }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item>
            <p>{{ 'MENU.APPLICATION_VERSION' | translate }}: {{ localAppVersion }} <span *ngIf="stage !== 'prod'">({{ stage }})</span></p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="content" [swipeGesture]="false"></ion-router-outlet>

  </ion-split-pane>

</ion-app>